@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.text-normal {
  font-size: 1.5rem;
}

.color-gray {
  color: var(--color-gray);
}
