// Display
.flex {
  display: flex;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.jc-end {
  justify-content: end;
}

.grow-1 {
  flex-grow: 1;
}

.shrink-0 {
  flex-shrink: 0;
}

// Width

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

// Height

.h-screen {
  height: 100vh;
}

// Border

.radius-8 {
  border-radius: 8px;
}

.radius-16 {
  border-radius: 16px;
}

.border {
  border: 1px solid var(--color-gray);
}

// Position

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

// Overflow

.overflow-x-scroll {
  overflow-x: scroll;
}

// Other

.pointer {
  cursor: pointer;
}
